p{
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#table{
  max-width: 80%;
  font-size: 18px;
  margin-bottom: 50px;
}
#table td{
  padding:10px;
}
#grid{
  width: 20%;
  margin-bottom: 50px;
}
#loader{
  display: block;
}
#lineChart{
  max-width: 50%;
}
